<!-- src\views\+\partials\header.ejs -->
<header class="public-header">
    <nav class="public-nav">
        <ul class="no-bullets">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
