<!-- src/views/partials/admin-header.ejs -->
<header class="admin-header">
    <nav class="admin-nav">
        <ul class="no-bullets">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/logout" class="logout-button">Logout</a></li>
        </ul>
    </nav>
</header>

